<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Configuration"
             allowDefinition="Everywhere"
             allowExeDefinition="MachineToApplication"
             restartOnExternalChanges="true"
             type="Zartex.Settings.ZartexConfiguration,
             Zartex,
             Version=1.0.0.0,
             Culture=neutral,
             PublicKeyToken=null" />
  </configSections>
  <Configuration locale="English" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
