<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="InfiniteSpin" value="true" />
    <add key="GhostOpacity" value="0.15" />
    <add key="DefaultFOV" value="65" />
  </appSettings>
</configuration>